/*@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html, body{
    font-family: 'Karla', Italic;
 } autre méthode pour la font */ 
 html {
   scroll-behavior: smooth;
 }
 
.imagedefond { 
  
  background-image: url("assets/background1.png");
  background-color : hsla(0, 0%, 0%, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #111;
    scroll-behavior: smooth;
  }


header {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   align-items: center;
 }
 
nav a {
   margin-left: 20px;
   text-decoration: none;
   color: rgb(255, 255, 255);
   background-color : hsla(0, 0%, 0%, 0.6);
   padding: 10px 20px;
 }

.logo img {   
   width: 80px;
   height: 80px;
   display: flex;
   
  }

.intro {
   display: flex;
   justify-content: space-between;
   padding: 40px;
   
 }

 
.intro .text {
   max-width: 50%;
   background-color : hsla(0, 0%, 0%, 0.6);
   color: #ffffff;
   /*border-radius: 10px;*/
   padding: 10px 20px;
 }

.intro .photo1 img {
   width: 300px;
   height: 300px;
   
 }
 
button {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border: none;  
   border-radius: 10px;
 }

.skills {
   display: flex;
   justify-content: space-around;
   padding: 50px;
   background: rgb(0, 0, 0);
   color: #ffffff;
   text-decoration: none;
   text-align: center;  
  }

.projects h2 {
  text-decoration: none;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center; 
  background-color : hsla(0, 0%, 0%, 0.6);
  border-radius: 10px;     
 } 


.projects {
   padding: 40px;   
}

.gallery{
  display: flex;
}

.gallery2 {
  Display: flex; 
  justify-content: center; 
  gap: 5px; 
  flex-wrap: wrap; 
  margin-top: 20px;
  background-color : hsla(0, 0%, 0%, 0.6);
  padding: 10px 20px;
  text-decoration: none;
}

.gallery2 img { 
  width: 100%; 
  border-radius: 10px;  
  width : 200px;
  height : 300px;
  }

.gallery2 p{
  text-align: center;    
  color: #ffffff;
  font-weight: bold;
}

.contact {
  padding: 40px;
  align-items : center;
  text-align : center;
  background-color : hsla(0, 0%, 0%, 0.6);
  color: #ffffff;
  border-radius: 10px;
 }

.contact .socials {
  padding: 15px;
  margin: 10px;
 }




  

  


  
 